<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인: 부가정보입력</title>

<link rel="stylesheet" th:href="@{/css/sign.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/register.css}">
<link rel="stylesheet" th:href="@{/css/snow.css}">
<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css}" />


<script th:src="@{//code.jquery.com/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>




</head>
<body>
<div id="snow"></div>
<div id="fullpage">
	<div class="fullsection full1" pageNum="1">
		<div class="loading-background"></div>
		<div class="login">
			<form name="form" method="post" th:action="@{/test/file}" enctype="multipart/form-data">
				<input name="title" value="제목입네다"/>
				<input name="content" value="내용입네다"/>
				<input name="lat" value="39.125"/>
				<input name="lng" value="128.349"/>
				<input name="writer" value="kjt40700@gmail.com"/>
				<input type="file" name="files" multiple="multiple"/>
				<input type="submit" id="submit" value="전송"/>
			</form>
		</div>
	</div>
</div>
<script th:inline="javascript">

</script>
<!--<script th:src="@{/js/sign.js}"></script>-->
</body>

</html>