<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인: 부가정보입력</title>

<link rel="stylesheet" th:href="@{/css/sign.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/register.css}">
<link rel="stylesheet" th:href="@{/css/snow.css}">
<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css}" />


<script th:src="@{//code.jquery.com/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>




</head>
<body>
<div id="snow"></div>
<div id="fullpage">
	<div class="fullsection full1" pageNum="1">
		<div class="loading-background"></div>
		<div class="login">
			<form name="form" method="post" th:action="@{/postFriend}">
				<h2>친구신청</h2>
				<input name="targetEmail" value=""/>
				<input type="submit" id="submit" value="전송"/>
			</form>
			<br>
			<form name="form1" method="post" th:action="@{/acceptFriend}">
				<h2>친구수락</h2>
				<input name="targetEmail" value=""/>
				<input type="submit" value="전송"/>
			</form>
			<br>
			<form name="form1" method="post" th:action="@{/refuseFriend}">
				<h2>친구거절</h2>
				<input name="targetEmail" value=""/>
				<input type="submit" value="전송"/>
			</form>
			<br>
			<form name="form1" method="post" th:action="@{/deleteFriend}">
				<h2>친구삭제</h2>
				<input name="targetEmail" value=""/>
				<input type="submit" value="전송"/>
			</form>
			<br>
			<form name="form1" method="get" th:action="@{/searchFriend}">
				<h2>친구검색</h2>
				<input name="str" value=""/>
				<input type="submit" value="전송"/>
			</form>
			<form name="form1" method="get" th:action="@{/resign}">
				<h2>회원탈퇴</h2>
				<input name="password" value=""/>
				<input type="submit" value="전송"/>
			</form>
			<br>
			<a th:href="@{/getFriendList}">친구목록</a>
			<br>
			<a th:href="@{/getReceiveList}">받은요청</a>
			<div>
				<ul id="freinds-list">

				</ul>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">

</script>
<!--<script th:src="@{/js/sign.js}"></script>-->
</body>

</html>