<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CLOUD MAP</title>
        <link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">

        <script th:src='@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js}'></script>
        <script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=ef305f63a71a127db21e1424217901ef&libraries=services,clusterer}"></script>
        <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

        <script th:src="@{//code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css}">
        <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <input type="hidden" id="username-check" th:value="${#authentication.principal.email}">
    <input type="checkbox" id="sidebar-check">
    <input type="checkbox" id="search-check">
    <input type="checkbox" id="friend-search-check">
    <input type="checkbox" id="friend-alert-check">
    <!--헤더 시작-->
    <header class="header-class" id="mainheader">
        <label for="search-check">
            <i class="fas fa-search" id="search_btn"></i>
        </label>
        <label for="sidebar-check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">

        </div>
        <div class="center_area">
            <h3 class="h3-class">CLOUD <span class="title-map">MAP</span><span class="from-friend-info"></span> </h3>
            <div class="go-my-map">
                <button class="go-my-map-btn-off" id="go-my-map" ></button>
            </div>

        </div>
        <div class="right_area">

        </div>
    </header>
    <!--헤더 끝-->

    <!--사이드바 시작-->
    <div class="explanation">
        <div class="ex1"><img src="https://img.icons8.com/material/96/000000/marker--v1.png" alt=""><span>클릭한 곳의 마커</span>
        </div>
        <div class="ex2"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"
                              alt=""><span>여행일지 목록</span></div>
        <div class="ex3"><img src="../images/marker.png" alt=""><span>검색 목록</span></div>
    </div>
    <div class="search">
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="profile_info">
            <th:block th:if="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{/images/cat.png}" class="profile_image"></img>
                <img th:unless="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}" class="profile_image"></img>
            </th:block>
            <th:block th:unless="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}"  class="profile_image"></img>
                <th:block th:unless="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:each="entry : ${#authentication.principal.attr}" >
                    <img th:if="${entry.key == 'picture'}" th:src="${entry.value}" class="profile_image"></img>
                </th:block>
            </th:block>
            <h4 class="my-name">[[${#authentication.principal.name}]]</h4>
            <!--            <h3>[[${#authentication.principal.email}]]</h3>-->
        </div>

        <div class="box">

            <ul class="friend-list-title">
                <li><label>친구목록</label></li>
            </ul>
            <label for="friend-alert-check">
                <i class="fas fa-bell" id="friend_alert_btn" onclick="getReceiveList()"></i>
            </label>
            <label for="friend-search-check">
                <i class="fas fa-search" id="friend_search_btn"></i>
            </label>
            <div class="friend-list-scroll">
                <ul class="friend-list" id="main-friend-list">
                </ul>
            </div>
        </div>
        <div class="box-friend-search">

            <ul class="friend-list-title">

                <li class="friend-search-bar-li"><input class="friend-search-bar" id="friend-search-bar" type="text" placeholder="친구검색"></li>
                <label for="friend-search-check">
                    <i class="fas fa-sign-out-alt" id="friend_search_btn2"></i>
                </label>
            </ul>
            <div class="search-friend-list-scroll">
                <ul class="friend-list">
                </ul>
            </div>

        </div>
        <div class="box-friend-alert">

            <ul class="friend-list-title">

                <li class="friend-alert-bar-li"><label for="">요청 받은 목록</label></li>
                <label for="friend-alert-check">
                    <i class="fas fa-sign-out-alt" id="friend_alert_btn2"></i>
                </label>
            </ul>
            <div class="alert-friend-list-scroll">
                <ul class="friend-list">
                    <li><img src="../images/shiba.png" class="friend_profile_image"><label class="friend_profile_name">김종태</label><i id="accept-friend" class="fas fa-user-plus"></i><i id="delete-friend" class="fas fa-user-minus"></i></li>
                    <li><img src="../images/cat.png" class="friend_profile_image"><label class="friend_profile_name">원대호</label><i id="accept-friend" class="fas fa-user-plus"></i><i id="delete-friend" class="fas fa-user-minus"></i></li>
                    <li><img src="../images/ham.png" class="friend_profile_image"><label class="friend_profile_name">한호열</label><i id="accept-friend" class="fas fa-user-plus"></i><i id="delete-friend" class="fas fa-user-minus"></i></li>

                </ul>
            </div>

        </div>
        <div class="logout">
            <th:block th:if="${#authentication.isAuthenticated()}">
                <th:block th:if="${#authentication.principal.attr != null}">
                    <a th:if="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{https://kauth.kakao.com/oauth/logout(client_id=0c90a244b5317711f920544975d0409c,logout_redirect_uri=${url})}" th:with="url=${#strings.replace(#httpServletRequest.getRequestURL(),#httpServletRequest.getRequestURI(),#httpServletRequest.getContextPath()+'/logout')}">LOGOUT</a>
                    <a th:unless="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{/logout}">LOGOUT</a>
                </th:block>
                <a th:unless="${#authentication.principal.attr != null}" th:href="@{/logout}">LOGOUT</a>
            </th:block>
        </div>
    </div>
    <!--사이드바 끝-->
    <!-- 컨텐츠-->
    <div class="content" id="maps">
        <th:block th:replace="${content}"></th:block>
    </div>

    <div class="write modal fade" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-fullsize">
            <div class="modal-content modal-fullsize" style="box-shadow:10px 10px 10px;">
                <!-- remote ajax call이 되는영역 -->
            </div>
        </div>
    </div>
    <div class="detail modal fade" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-fullsize">
            <div class="modal-content modal-fullsize" style="box-shadow:10px 10px 10px;">
                <!-- remote ajax call이 되는영역 -->
            </div>
        </div>
    </div>

    </body>
    <script th:src="@{/js/kakaomap.js}"></script>
    <script th:src="@{/js/detail.js}"></script>
    <script th:inline="javascript">
        const contextpath= /*[[@{/}]]*/"/";


        $(document).on('click', '#write', function () {


            $('.write.modal').modal({
                remote : contextpath+'server/write.html'
            });
        });

        $(document).on("click", "#write-close", function () {
            $(".all-image").remove('');
            $("#width-scroll").css("display", "none");
            $("#content").css("height", "580px");
            $(document).find('form')[0].reset()
        });

    </script>
</th:block>
</html>