<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CLOUD MAP</title>
        <link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">

        <script th:src='@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js}'></script>
        <script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=ef305f63a71a127db21e1424217901ef&libraries=services}"></script>
        <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

        <script th:src="@{//code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css}">
        <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <input type="hidden" id="username-check" th:value="${#authentication.principal.email}">
    <input type="checkbox" id="sidebar-check">
    <input type="checkbox" id="search-check">
    <!--헤더 시작-->
    <header class="header-class" id="mainheader">
        <label for="search-check">
            <i class="fas fa-search" id="search_btn"></i>
        </label>
        <label for="sidebar-check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">

        </div>
        <div class="center_area">
            <h3 class="h3-class">CLOUD <span>MAP &nbsp;&nbsp;&nbsp;</span></h3>

        </div>
        <div class="right_area">

        </div>
    </header>
    <!--헤더 끝-->
    <!--모바일 메뉴 시작-->
    <div class="mobile_nav">
        <div class="nav_bar">
            <th:block th:if="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{/images/cat.png}" class="mobile_profile_image"></img>
                <img th:unless="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}" class="mobile_profile_image"></img>
            </th:block>
            <th:block th:unless="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}"  class="mobile_profile_image"></img>
                <th:block th:unless="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:each="entry : ${#authentication.principal.attr}" >
                    <img th:if="${entry.key == 'picture'}" th:src="${entry.value}" class="mobile_profile_image"></img>
                </th:block>
            </th:block>
            <i class="fa fa-bars nav_btn"></i>
        </div>
        <div class="slide-box">
            <div class="friend" id="scroll">
                <ul class="friend-list">
                    <li><img th:src="@{/images/shiba.png}" class="friend_profile_image"><label class="friend_profile_name">김종태</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                    <li><img th:src="@{/images/cat.png}" class="friend_profile_image"><label class="friend_profile_name">원대호</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                    <li><img th:src="@{/images/ham.png}" class="friend_profile_image"><label class="friend_profile_name">한호열</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                    <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">안준호</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                    <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">조석봉</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                    <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">범구형</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                </ul>
            </div>
            <div class="logout">
                <th:block th:if="${#authentication.isAuthenticated()}">
                    <th:block th:if="${#authentication.principal.attr != null}">
                        <a th:if="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{https://kauth.kakao.com/oauth/logout(client_id=0c90a244b5317711f920544975d0409c,logout_redirect_uri=${url})}" th:with="url=${#strings.replace(#httpServletRequest.getRequestURL(),#httpServletRequest.getRequestURI(),#httpServletRequest.getContextPath()+'/logout')}">LOGOUT</a>
                        <a th:unless="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{/logout}">LOGOUT</a>
                    </th:block>
                    <a th:unless="${#authentication.principal.attr != null}" th:href="@{/logout}">LOGOUT</a>
                </th:block>
            </div>
        </div>

    </div>


    <!--모바일 메뉴 끝-->
    <!--사이드바 시작-->
    <div class="search">
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <div class="sidebar">
        <div class="profile_info">
            <th:block th:if="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{/images/cat.png}" class="profile_image"></img>
                <img th:unless="${#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}" class="profile_image"></img>
            </th:block>
            <th:block th:unless="${!#authentication.getPrincipal().fromSocial}">
                <img th:if="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:src="@{ ${imgPath} }" th:with="imgPath=${#authentication.getPrincipal().profileImg}"  class="profile_image"></img>
                <th:block th:unless="${!#strings.isEmpty(#authentication.getPrincipal().profileImg)}" th:each="entry : ${#authentication.principal.attr}" >
                    <img th:if="${entry.key == 'picture'}" th:src="${entry.value}" class="profile_image"></img>
                </th:block>
            </th:block>
            <h4 class="my-name">[[${#authentication.principal.name}]]</h4>
            <!--            <h3>[[${#authentication.principal.email}]]</h3>-->
        </div>
        <div class="box">
            <ul class="friend-list-title">
                <li><label>친구목록</label></li>
            </ul>
            <ul class="friend-list">
                <li><img th:src="@{/images/shiba.png}" class="friend_profile_image"><label class="friend_profile_name">김종태</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                <li><img th:src="@{/images/cat.png}" class="friend_profile_image"><label class="friend_profile_name">원대호</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                <li><img th:src="@{/images/ham.png}" class="friend_profile_image"><label class="friend_profile_name">한호열</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">안준호</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">조석봉</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
                <li><img th:src="@{/images/1.jpg}" class="friend_profile_image"><label class="friend_profile_name">범구형</label><img th:src="@{/images/map.png}" class="friend_profile_home"></li>
            </ul>
        </div>
        <div class="logout">
            <th:block th:if="${#authentication.isAuthenticated()}">
                <th:block th:if="${#authentication.principal.attr != null}">
                    <a th:if="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{https://kauth.kakao.com/oauth/logout(client_id=0c90a244b5317711f920544975d0409c,logout_redirect_uri=${url})}" th:with="url=${#strings.replace(#httpServletRequest.getRequestURL(),#httpServletRequest.getRequestURI(),#httpServletRequest.getContextPath()+'/logout')}">LOGOUT</a>
                    <a th:unless="${#authentication.principal.attr.clientName == 'kakao'}" th:href="@{/logout}">LOGOUT</a>
                </th:block>
                <a th:unless="${#authentication.principal.attr != null}" th:href="@{/logout}">LOGOUT</a>
            </th:block>
        </div>
    </div>
    <!--사이드바 끝-->
    <!-- 컨텐츠-->
    <div class="content">
        <th:block th:replace="${content}"></th:block>
    </div>

    <div class="modal fade" id="modal" data-backdrop="static" data-keyboard="true"  >
        <div class="modal-dialog modal-fullsize" >
            <div class="modal-content modal-fullsize"  style="box-shadow:10px 10px 10px;">
                <!-- remote ajax call이 되는영역 -->

            </div>
        </div>
    </div>

    </body>
    <script th:src="@{/js/kakaomap.js}"></script>
    <script th:inline="javascript">
        const contextpath= /*[[@{/}]]*/"/";

        $(document).on('click','#popbutton',function(){
            console.log("asd")
            $('div.modal').modal({
                open: function(){
                    // document.getElementById("jibun-data").innerHTML = document.getElementById("jibun").innerHTML;
                },
                remote : contextpath+'server/write.html'
            });
        });
        $(document).on("click", "#close",function(){
            $(".all-image").remove('');
            $("#width-scroll").css("display", "none");
            $("#content").css("height", "600px");
            $(document).find('form')[0].reset()
        });

    </script>
</th:block>
</html>