<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>풀스크린이동인데 어케 처리하지</title>

<link rel="stylesheet" th:href="@{/css/sign.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/register.css}">
<link rel="stylesheet" th:href="@{/css/snow.css}">
<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css}" />


<script th:src="@{//code.jquery.com/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>




</head>
<body>
<div id="snow"></div>
<div id="fullpage">
	<div class="fullsection full1" pageNum="1">
		<div class="loading-background"></div>
		<div class="login">
			<form id="form-login" th:action="@{/login}" method="post" class="loginForm">
				<h2>Login</h2>
				<div class="login-id">
					<input type="email" name="username" class="id" placeholder="ID">
				</div>
				<div class="login-pw">
					<input type="password" name="password" class="pw" placeholder="PW">
				</div>

				<button type="submit" class="login-btn">
					LOG IN
				</button>
				<script>
					let button = () => {
						alert('login Button !')
					}
				</script>
				<div class="bottomText">
					Don't you have ID? <a href="#" class="sign-btns">sign up</a>
				</div>
				<div class="login-social-out">
					<div class="login-social">
						<a th:href="@{/oauth2/authorization/kakao}" class="btn-login-social kakao"></a>
					</div>
					<div class="login-social">
						<a th:href="@{/oauth2/authorization/google}" class="btn-login-social google"></a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="fullsection full2" pageNum="2"></div>
	<div class="fullsection full3" pageNum="3">
		<div class="register-background"></div>
		<div class="register">
			<form id="form-register" class="registerForm">
				<h2>Register</h2>
				<div class="register-email1">
					<input type="text" name="email1" class="inputRegister" id="id" placeholder="아이디" required>
				</div>
				<div class="register-email2">
					<input type="text" class="inputRegister"  disabled value="@">
				</div>
				<div class="register-email3">
					<input type="text" name="email2" class="inputRegister" id="email"  readonly value="naver.com" required>
				</div>
				<select class="register-email4" id="selectEmail">
					<option value="1">직접입력</option>
					<option value="naver.com" selected>naver.com</option>
					<option value="hanmail.net">hanmail.net</option>
					<option value="hotmail.com">hotmail.com</option>
					<option value="nate.com">nate.com</option>
					<option value="yahoo.co.kr">yahoo.co.kr</option>
					<option value="gmail.com">gmail.com</option>
				</select>
				<div class="register-pw">
					<input type="password" name="password" class="inputRegister" id="pwd1" placeholder="비밀번호" required>
				</div>
				<label id="alert-danger1" class="pwMessageDanger1">8자리 ~ 20자리 이내로 입력해주세요.</label>
				<label id="alert-danger2" class="pwMessageDanger1" >비밀번호는 공백 없이 입력해주세요.</label>
				<label id="alert-danger3" class="pwMessageDanger1" >영문,숫자, 특수문자를 혼합하여 입력해주세요.</label>
				<label id="alert-success1" class="pwMessageSuccess1">올바른 비밀번호입니다.</label>
				<div class="register-pw-confirm">
					<input type="password" name="passwordCheck" class="inputRegister" id="pwd2" placeholder="비밀번호 확인" required>
				</div>
				<label id="alert-success2" class="pwMessageSuccess2">비밀번호가 일치합니다.</label>
				<label id="alert-danger4" class="pwMessageDanger2" >비밀번호가 일치하지 않습니다.</label>
				<div class="register-name">
					<input type="text" name="name" class="inputRegister" id="name" placeholder="이름" required>
				</div>
				<div class="register-phone">
					<input type="text" name="phone" class="inputRegister" id="phone" maxlength="13" placeholder="전화번호" required>
				</div>
				<input type="submit"  class="register-success-btn" value="REGISTER" disabled></input>
			</form>
		</div>
		<div class="up-arrow-parent">
			<div class="up-arrow">
				<a href="" class="arrow"></a>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	var result = [[${error}]];
	if(result){
		toastr.warning('인증실패',result, {timeOut: 5000});
	}

</script>
<script th:src="@{/js/sign.js}"></script>
</body>

</html>