<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="main" class="container-xl" style="padding-bottom: 50px;">
        <h1>Member Only Page</h1>
        <div sec:authorize="hasRole('USER')">USER 권한 보유</div>
        <div sec:authorize="hasRole('MANAGER')">MANAGER 권한 보유</div>
        <div sec:authorize="hasRole('ADMIN')">ADMIN 권한 보유</div>

        <div sec:authorize="isAuthenticated()">
            인증 완료된 사용자에게만 보여지는 텍스트입니다.
        </div>

        AUthenticated username:
        <div sec:authentication="name"></div>
        AUthenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    </div>
</body>
</html>