body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/*헤더부분*/
header{ z-index: 10; position: fixed; background: rgb(23, 24, 29); padding: 20px; width: calc(100% - 0%); top: 0; height: 30px; }
.left_area h3{ color: #fff; margin: 0; text-transform: uppercase; font-size: 22px; font-weight: 900; }
.left_area span{ color: #1DC4E7; }


/*사이드바부분*/
.sidebar{
  z-index: 1;
  top: 0;
  background: #212022;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  right: 0;
  width: 300px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: right;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .profile_info .profile_image{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px
}
.sidebar .profile_info h3{
  color: #ccc;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 15px
}


.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar .box {
  overflow:scroll; 
  height:590px;
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sidebar .box ul {
  margin-left: -40px;
  margin-right: 0px;
  list-style-type: none;
}
.sidebar .box ul li {
  text-align: center;
}
.sidebar .box ul li label {
  font-size: 15px;
  color: white;
  font-weight: bold;
}


.sidebar a:hover{
  color: #212022;
  background: #fff;
}

.sidebar i{
  padding-right: 10px;
}
.sidebar .logout{
  font-size: 30px;
  width: 300px;
  text-align: center;
  bottom: 0;
  position: fixed;
}
.sidebar .logout a:hover{
  color: white;
  background: rgb(252, 94, 94);
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  right: 30px;
  font-size: 40px;
  margin-top: -3px;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color:#19B3D3
}

#check:checked ~ .sidebar{
  right: -295px;
}

.content{
  z-index: 0;
  width: (100% - 300px);
  margin-right: 300px;
  background: white;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-right: 0;
}



#check{
  display: none;
}

.mobile_nav{
  display: none;
}

@media screen and (max-height: 405px){
  .sidebar .logout{
    display: none;
  }
}
/*반응형 작업*/
@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }
  #sidebar_btn{
    display: none;
  }

  .content{
    margin-right: 0;
    margin-top: 0;
   
    transition: 0s;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background-color: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  .nav_bar .nav_btn:hover{
   color: #19B3D3;
  }

  .mobile_nav_item{
    background: #2f323A;
    display: none;
  }

  .active{
    display: block;
  }
}
