
body{ width: 100%; height: 100%; margin: 0; padding: 0; font-family: "Roboto", sans-serif; overflow: hidden; }

/*헤더부분*/
.header-class{ box-sizing: unset; z-index: 10; position: fixed; background: rgb(23, 24, 29); padding: 20px !important; width: calc(100% - 0%); top: 0; height: 30px; }
.left_area .h3-class{ color: #fff; margin: -15px 10px; text-transform: uppercase; font-size: 22px; font-weight: 900;  }
.left_area span{ color: #1DC4E7; }
.center_area .h3-class{ color: #fff;  text-transform: uppercase; font-size: 30px; font-weight: 900; text-align: center; position: fixed; width: 100%; top:0px; margin-right: 10px;}
.center_area .title-map{ color: #1DC4E7; }



/*사이드바*/
.sidebar{ z-index: 1; top: 0; background: #212022; margin-top: 70px; padding-top: 30px; position: absolute; right: 0; width: 290px; height: calc(100vh ); transition: 0.5s; transition-property: right; -ms-overflow-style: none; }
.sidebar a{ color: #fff; display: block; width: 100%; line-height: 60px; text-decoration: none; box-sizing: border-box; transition: 0.5s; transition-property: background; }

/* 사이드바 프로필 시작 */
.profile_info{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.sidebar .profile_info .profile_image{ width: 150px; height: 150px; border-radius: 100px; margin-top: 30px; margin-bottom: 10px; }
.sidebar .profile-my-name{height: 82px}
.sidebar .profile_info .my-name{text-align:center; width: 80px; color: white;  border-radius: 10px; margin-top: 10px;  font-size: 20px; font-weight: bold; background: #212022; border-style: none}
.sidebar .profile_info #modify-name{color: white; cursor: pointer; font-size: 16px;  position: absolute; right: 80px; top: 242px;}
.sidebar .profile_info #modify-name:hover{color:rgb(252, 94, 94);}
.sidebar .profile_info .my-name:focus {outline:none;}

.sidebar .profile_info #modify-profile-image{color: white; cursor: pointer; font-size: 30px;  position: absolute; right: 70px; top: 181px;}
.sidebar .profile_info #modify-profile-image:hover{color:rgb(252, 94, 94);}



/* 사이드바 친구목록 */
.sidebar .box { height:calc(100vh - 450px); -ms-overflow-style: none; }


.sidebar .box .friend-list-scroll { overflow:scroll;   -ms-overflow-style: none; height:calc(100vh - 480px); }
.friend-list-scroll::-webkit-scrollbar { display: none; }

.sidebar .box .friend-list-title { margin-left: -40px; margin-right: 0px; list-style: none; text-align: center; height: 13px; line-height: 32px;}
.sidebar .box .friend-list-title li label { font-size: 20px; color: white; font-weight: bold; }
.sidebar .box .friend-list { margin-left: -40px; margin-right: 0px; list-style: none; }
.sidebar .box .friend-list li { display: flex; text-align: center; padding: 0px 20px;}
.sidebar .box .friend-list li .friend_profile_image{flex-direction: column; width: 35px; height: 35px; border-radius: 100px;  margin-top: 12.5px;}
.sidebar .box .friend-list li .friend_profile_name{ color: #fff; font-size: 18px; margin-bottom: 0px; display: block; width: 100%; line-height: 60px; text-decoration: none; box-sizing: border-box;  }
.sidebar .box .friend-list li .friend_profile_home{ flex-direction: column; width: 35px; height: 35px; border-radius: 100px;   margin-top: 12.5px; cursor: pointer;}
.sidebar .box .friend-list li .my_profile_home{ flex-direction: column; width: 35px; height: 35px; border-radius: 100px;   margin-top: 12.5px; cursor: pointer; }

.sidebar .friend-list li:hover .friend_profile_name{ color: #1DC4E7;}

.sidebar .box-friend-search { z-index: 1; height:calc(100vh - 435px);  width: 100%; transition: 0.5s; transition-property: right; right: -300px; position: absolute; top: 303px; background: #212022; }
.sidebar .box-friend-search .search-friend-list-scroll { overflow:scroll;   -ms-overflow-style: none; height:calc(100vh - 470px); }
.search-friend-list-scroll::-webkit-scrollbar { display: none; }
.sidebar .box-friend-search .friend-list-title { margin-left: -40px; margin-right: 0px; list-style: none; text-align: center; height: 30px;}
.sidebar .box-friend-search .friend-list-title li label { font-size: 20px; color: white; font-weight: bold; height: 50px;}
.sidebar .box-friend-search .friend-list { margin-left: -40px; margin-right: 0px; list-style: none; }
.sidebar .box-friend-search .friend-list li { display: flex; text-align: center; padding: 0px 20px;}
.sidebar .box-friend-search .friend-list li .friend_profile_image{flex-direction: column; width: 35px; height: 35px; border-radius: 100px;  margin-top: 12.5px;}
.sidebar .box-friend-search .friend-list li .friend_profile_name{ color: #fff; font-size: 18px; margin-bottom: 0px; display: block; width: 100%; line-height: 60px; text-decoration: none; box-sizing: border-box;  }
.sidebar .box-friend-search .friend-list li .friend_profile_home{ flex-direction: column; width: 35px; height: 35px; border-radius: 100px;   margin-top: 12.5px;}

.sidebar .friend-list li:hover #add-friend{ color: #212022;}


.sidebar .box-friend-alert { z-index: 1; height:calc(100vh - 435px);  width: 100%; transition: 0.5s; transition-property: right; right: -300px; position: absolute; top: 303px; background: #212022; }
.sidebar .box-friend-alert .search-friend-list-scroll { overflow:scroll;   -ms-overflow-style: none; height:calc(100vh - 470px); }
.search-friend-list-scroll::-webkit-scrollbar { display: none; }
.sidebar .box-friend-alert .friend-list-title { margin-left: -40px; margin-right: 0px; list-style: none; text-align: center; height: 30px;}
.sidebar .box-friend-alert .friend-list-title li label { font-size: 20px; color: white; font-weight: bold; height: 50px;}
.sidebar .box-friend-alert .friend-list { margin-left: -40px; margin-right: 0px; list-style: none; }
.sidebar .box-friend-alert .friend-list li { display: flex; text-align: center; padding-left: 20px; padding-right: 20px;}
.sidebar .box-friend-alert .friend-list li .friend_profile_image{flex-direction: column; width: 35px; height: 35px; border-radius: 100px;  margin-top: 12.5px;}
.sidebar .box-friend-alert .friend-list li .friend_profile_name{ color: #fff; font-size: 18px; padding-left: 50px; margin-bottom: 0px; display: block; width: 100%; line-height: 60px; text-decoration: none; box-sizing: border-box;  }
.sidebar .box-friend-alert .friend-list li .friend_profile_home{ flex-direction: column; width: 35px; height: 35px; border-radius: 100px;   margin-top: 12.5px;}
.sidebar .friend-list li i{
  margin-left : 20px;
}

.sidebar .friend-list li:hover #add-friend{ color: #212022;}
.sidebar .friend-list li:hover .accept-friend{ color: #212022;}
.sidebar .friend-list li:hover .delete-friend{ color: #212022;}



.sidebar .friend-search-bar{
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;

}
.sidebar .friend-search-bar::-webkit-input-placeholder{
  text-align: center;
}

#add-friend{
  font-size: 25px;
  margin-top: 16px;
  color: white;
}


/* 사이드바 로그아웃 */
.sidebar .logout{ font-size: 30px; width: 300px; text-align: center; bottom: 0; position: fixed; background-color: #212022; }
.sidebar .logout a:hover{ color: white; background: rgb(252, 94, 94); }

/* 검색 버튼 디자인 및 기능*/
label #search_btn{ z-index: 1; color: #fff; position: fixed; cursor: pointer; left: 30px; font-size: 40px; margin-top: -15px; transition: 0.5s; transition-property: color; }
label #search_btn:hover{ color:#5dd319 }
#search-check:checked ~ .search{ left: 0px }
#search-check{ display: none; }

.explanation{
  z-index: 1;
  position: fixed;
  width: 210px;
  height: 200px;
  top: 80px;
  right: 300px;
  transition: 0.5s; transition-property: right;
  background: rgba(255, 255, 255, 0.5);

}


.explanation .ex1 img{
  width: 45px;
  margin: 6px 12px 3px 12px;
}

.explanation .ex2 img{
  width: 28px;
  margin: 3px 20px;
}
.explanation .ex3 img{
  width: 28px;
  margin: 3px 20px;
}
.explanation span{
  font-size: 16px;
  font-weight: bold;
}
/*사이드바 버튼 디자인 및 기능 */
label #sidebar_btn{ z-index: 1; color: #fff; position: fixed; cursor: pointer; right: 30px; font-size: 40px; margin-top: -15px; transition: 0.5s; transition-property: color; }
label #sidebar_btn:hover{ color:#19B3D3 }
#sidebar-check:checked ~ .sidebar{ right: -295px; }
#sidebar-check:checked ~ .explanation{ right: 10px;}
#sidebar-check{ display: none; }

label #friend_search_btn{ z-index: 1; color: #fff; position: absolute; cursor: pointer; right:25px; top: 305px; font-size: 25px; margin: 0px; transition: 0.5s; transition-property: color; }
label #friend_search_btn:hover{ color:#19B3D3 }
#friend-search-check:checked ~ .sidebar .box-friend-search{ right: 0px;}

label #friend_search_btn2{ z-index: 1; color: #fff; position: absolute; cursor: pointer; right:25px; top: 2px; font-size: 25px; margin: 0px; transition: 0.5s; transition-property: color; }
label #friend_search_btn2:hover{ color:#19B3D3 }


label #friend_alert_btn{ z-index: 0; color: #fff; position: absolute; cursor: pointer; right:240px; top: 305px; font-size: 25px; margin: 0px; transition: 0.5s; transition-property: color; }
label #friend_alert_btn:hover{ color:#19B3D3 }
#friend-alert-check:checked ~ .sidebar .box-friend-alert{ right: 0px;}
label #friend_alert_btn2{ z-index: 1; color: #fff; position: absolute; cursor: pointer; right:25px; top: 2px; font-size: 25px; margin: 0px; transition: 0.5s; transition-property: color; }
label #friend_alert_btn2:hover{ color:#19B3D3 }

.accept-friend{
  font-size: 15px;
  margin-top: 21px;
  color: white;
}
.delete-friend{
  font-size: 15px;
  margin-top: 21px;
  color: white;
}


/*콘텐츠*/
.content{ position: relative; z-index: 0; width: (100%);  background: white; background-position: center; background-size: cover; height: 100vh;}
#maps{top: -25px}
.content #map{width: 100%; height: 100vh; top: 70px;}

.mobile_nav{ display: none; }




.write-section .write-title {padding: 5px 0 0 10px;height: 30px;background: #222;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold; color: white;}
.write-section .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.write-section .close:hover {cursor: pointer;}
.write-section .write-body { background: #2f323A; padding: 5px 10px; position: relative; color: white;}
.write-section .desc {position: relative;height: 60px;}
.write-section .write-info {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.write-section .write-btn-style {margin-top: 10px;}
.write-section .write-btn-style .write-btn {width: 100%; background: #222; border: none; height: 25px; text-align: center; color: white; display: inline-block; text-decoration: none; line-height: 20px;}
.write-section .write-btn-style .write-btn:hover {background: rgb(81, 78, 83); cursor: pointer;}

.search-write-section .write-title {padding: 5px 0 0 10px;height: 30px;background: rgb(0, 2, 145);border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold; color: white;}
.search-write-section .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.search-write-section .close:hover {cursor: pointer;}
.search-write-section .write-body { background: rgb(106, 151, 209); padding: 5px 10px; position: relative; color: white;}
.search-write-section .desc {position: relative;height: 60px;}
.search-write-section .write-info {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.search-write-section .write-btn-style {margin-top: 10px;}
.search-write-section .write-btn-style .write-btn {width: 100%; background: rgb(0, 2, 145); border: none; height: 25px; text-align: center; color: white; display: inline-block; text-decoration: none; line-height: 20px;}
.search-write-section .write-btn-style .write-btn:hover {background: rgb(0, 2, 99); cursor: pointer;}


.my .read-title {padding: 5px 0 0 10px;height: 30px;background: rgb(255, 194, 0);font-size: 18px;font-weight: bold; color: black; margin-top: -1px;width: calc(100% + 3px); margin-left: -2px;}
.friend .read-title {padding: 5px 0 0 10px;height: 30px;background: rgb(150, 200, 0);font-size: 18px;font-weight: bold; color: black; margin-top: -1px;width: calc(100% + 3px); margin-left: -2px;}
.read-section .close {position: absolute; top: 6px;right: 6px;  width: 17px;height: 17px; filter: opacity(1) drop-shadow(0 0 0 black); background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.read-section .close:hover {cursor: pointer; filter: opacity(0.5) drop-shadow(0 0 0 red);}
.my .read-body { background: rgb(255, 245, 210); padding: 5px 10px; position: relative; color: white; width: calc(100% + 3px); margin-left: -2px; border: 5px solid rgb(255, 194, 0);}
.friend .read-body { background: rgb(255, 245, 210); padding: 5px 10px; position: relative; color: white; width: calc(100% + 3px); margin-left: -2px; border: 5px solid rgb(150, 200, 0);}
.read-section .read-body .read-info{ background: rgb(255, 245, 210);  color: black}
.read-section .desc {position: relative; height: 60px; width: 150px;}
.read-section .desc .read-info {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.read-section .desc .read-btn-style {margin-top: 10px;}
.read-section .desc .read-btn-style .read-btn {width: 100%; background: rgb(255, 245, 210); border: none; height: 25px; text-align: center; color: black; display: inline-block; text-decoration: none; line-height: 20px; font-weight: bold;}
.read-section .desc .read-btn-style .read-btn:hover {background: rgb(255, 230, 140); cursor: pointer;}



/* .modal{
  position:absolute; width:100%; height:100%; background: rgba(0,0,0,0.8); top:0; left:0; display:none;
}

.modal_content{
  width:400px; height:200px;
  background:#fff; border-radius:10px;
  position:relative; top:50%; left:50%;
  margin-top:-100px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box; padding:74px 0;
  line-height:23px; cursor:pointer;
} */
.modal-dialog.modal-fullsize {
  width: 800px;
  height: 850px;
  top: 50px;

}
.modal-content.modal-fullsize {
  height: 850px;
  min-height: 850px;
  border-radius: 0;
}



.search{ z-index: 1; top: 0; position: fixed; left: -450px; width: 290px; height: calc(100vh ); transition: 0.5s; transition-property: left; -ms-overflow-style: none; }
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:70px;left:0;bottom:0;width:350px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(33, 32, 34, 0.9);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff; overflow:scroll;   -ms-overflow-style: none;}
.bg_white::-webkit-scrollbar { display: none; }
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #ffffff;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none; color: white; margin-left: -40px}
#placesList .item {position:relative;border-bottom:1px solid #ffffff;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#ffffff;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#ffffff;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#ffffff;}


.from-friend{
  font-size: 18px;
  color: white;
}
.from-friend-name{
  font-size: 26px;
  color: #1DC4E7;
  font-weight: bold;
}

label #my-page-btn{ z-index: 1; color: #fff; position: fixed; cursor: pointer; right: 100px; font-size: 35px; margin-top: -13px; transition: 0.5s; transition-property: color; }
label #my-page-btn:hover{ color:#19B3D3 }


.sidebar .my-page-section { z-index: 1; height:calc(100vh - 435px);  width: 100%; transition: 0.5s; transition-property: right; right: -300px; position: absolute; top: 303px; background: #212022; }
.sidebar .my-page-section .search-friend-list-scroll { overflow:scroll;   -ms-overflow-style: none; height:calc(100vh - 470px); }
.search-friend-list-scroll::-webkit-scrollbar { display: none; }
.sidebar .my-page-section .like-list-title { margin-left: -40px; margin-right: 0px; list-style: none; text-align: center; height: 30px;}
.sidebar .my-page-section .like-list-title .like-list-title-label { font-size: 20px; color: white; font-weight: bold; height: 50px;}
.sidebar .my-page-section .liked-list { margin-left: -40px; margin-right: 0px; list-style: none; }
.sidebar .my-page-section .like-list li { display: flex; text-align: center; padding: 0px 20px;}
.sidebar .my-page-section .like li .friend_profile_image{flex-direction: column; width: 35px; height: 35px; border-radius: 100px;  margin-top: 12.5px;}
.sidebar .my-page-section .like li .friend_profile_name{ color: #fff; font-size: 18px; margin-bottom: 0px; display: block; width: 100%; line-height: 60px; text-decoration: none; box-sizing: border-box;  }
.sidebar .my-page-section .like-list li .friend_profile_home{ flex-direction: column; width: 35px; height: 35px; border-radius: 100px;   margin-top: 12.5px;}

.sidebar .like-list li:hover #add-friend{ color: #212022;}


#my-page-check:checked ~ .sidebar .my-page-section{ right: 0px;}