html,body {width:100%;height:100%;margin:0px;padding:0px;overflow:hidden;}
#fullpage {position:relative;top:0px;z-index:9;width:100%;height:100%;}
.fullsection{width:100%;height:100%;position:relative;}
/* .full1{background:#fff;}
.full2{background:#fff;} */
ul, li{margin:0;padding:0;list-style:none}